<h1>List of Landmarks</h1>
<% Landmark.all.each do |landmark| %>
<a href="/landmarks/<%=landmark.id%>"><%= landmark.name %></a>
<p>Built in <%= landmark.year_completed %></p>
<%end%>
<a href="/landmarks/new">Create New Landmark</a>
